/lss2/nbproject/private/
/lss2/build/
/Buoi2_bai1/nbproject/private/
/Buoi2_bai1/build/
/Buoi2_bai2/nbproject/private/
/Buoi2_bai2/build/
/Buoi2_bai1_kho/nbproject/private/
/Buoi2_bai4/nbproject/private/
/Buoi2_bai4/build/
/Lss3/nbproject/private/
/Lss3/build/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/BTVN_buoi1/nbproject/private/
/BTVN_buoi2/nbproject/private/
/BTVN_buoi2/build/
/BTVN_buoi3/nbproject/private/
/BTVN_buoi3/build/